$orangeColor: #ff8300;

.start_component{
  .logo{
    margin:20vh 0 0 0;
  }
  .scroll_button{
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    background-color: $orangeColor;
    background-image: url('./images/button.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 10rem 0 0 0 ;
  }
}
