.prize_block{
  display: flex;
  justify-content: center;
  height: 45vh;

  .prize{
    background-image: url('./images/back.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    width:  15rem;
    margin: 1.2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    .prize_img{

    }
    .prize_text{
      font-family: "BlockProPlusCon";
      color: #6f3c2f;
      font-size: 2.5vh;
      text-align: center;
    }
  }
}
