.footer{
  background: black;
  padding: 2rem;
  color: white;

  .text_info{
    text-align: center;
  }

.rools{
  text-decoration: underline;
  margin: 1rem 0 1rem;
}

  .info_block{
    .contacts{
      .phone{
        font-family: "ProximaNovaBold";
        font-size: 1.5rem;
        margin: 0 1rem 0 0 ;
      }
      button{
        height: 2.5rem;
        width: 2.5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 .3rem;
      }
      .instagram{
        background-image: url('./images/instagram.png')
      }
      .vk{
        background-image: url('./images/vk.png')
      }
      .facebook{
        background-image: url('./images/facebook.png')
      }
    }
    .apps{
      button{
        height: 2.5rem;
        width: 8rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 .3rem;

      }
      .apple{
        background-image: url('./images/app_store.png');
      }
      .google{
        background-image: url('./images/google_play.png');

      }
    }
  }
}
