.footer{
  background: black;
  padding: 2rem;
  color: white;
  // align-items: center;
  // justify-content: center;
  .text_info{
    // width: 60%;
  }
  .info_block{
    // display: flex;
    // align-items: space-around;  
  }
}
